@charset "UTF-8";
a{
	text-decoration:none;
	color:#4d0000;
}
#surat{
    width: 100%;
    box-sizing: border-box;
    display:inline-block;
}

#add{
	
    width:10%;
    box-sizing: border-box;
    height:50px;
   	float:left;
    display:inline-block;
    font-size:1.2em;
    font-weight:bold;
    margin:1.5em;
}

#wrrap{
	box-sizing:border-box;
	width: 1170px;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    box-shadow: 20px 20px 80px 20px #7A9985;
    padding:1em;
    background-image:url("http://www.pptbackgrounds.org/uploads/flower-drawing-art-powerpoint-templates.jpg");
    background-size:cover;
	
}

#wrrap h1{
	text-align:center;
	font-size:3em;
	color:#4d0000;
	width:80%;
	
}



.profile {
    box-shadow: 20px 20px 80px 20px #7A9985;
    width: 100%;
    box-sizing: border-box;
    margin: 1% auto;
    padding: 5px;
    display:inline-block;
}


.profile  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float:left;
    display:inline-block;

}

#link{
	width:60%;
	 box-sizing: border-box;
	display:inline-block;
	float:left;
	
	paddinng:5px;
	
}
#dell{
	width:40%;
	box-sizing: border-box;
	display:inline-block;
	height:100px;
	padding:5em;
}

#delete {
border:none;
border-radius:30px;	
float:right;
	
}

#delete img{

	width:50px;
	height:50px;

}

#wrraper{
    width: 1170px;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    box-shadow: 20px 20px 80px 20px #7A9985;
    padding:1em;
    background-image:url("http://www.pptbackgrounds.org/uploads/flower-drawing-art-powerpoint-templates.jpg");
    background-size:cover;
}
#wrraper h1{
    text-align:center;
    color:#660000;
    font-size:2em;
}
#infoUser {

    width:100%;
    padding: 1em;
    box-sizing: border-box;
    display:inline-block;

}

.up {
    padding: 0.5em 1em ;
    box-sizing: border-box;
    width:50%;
    display: inline-block;
    float:left;
    font-size:1.5em;
    font-weight:bold;
    color:#660000;
}


#infoUser img {
    width:250px;
    height:350px;
    border-radius: 30%;
}
#mail {
    width: 100%;
	 box-shadow: 20px 20px 80px 20px #7A9985;
    box-sizing: border-box;
    padding:1em;
}
.mess{
	margin:1.5em; 
	box-sizing: border-box;
	
}

.label{
	margin:0em 1em;
}
#sub{
	margin:0em 0.5em;
}

textarea{
    width:50%;
    height:200px;
    display:inline-block;
    margin:0,5em 2em;
}
#send{
	width:30%;
	float:right;
	padding:5em;
	display:inline-block;
}
#send input{
	width:200px;
	height:50px;
	border-radius:30px;
	box-shadow:10px 10px 30px 10px #990000;
	
}

#back{
	width:150px;
	height:40px;
	border-radius:30px;
	box-shadow:5px 5px 30px 5px #990000;
	
}